.data-grid__actions {
  position: relative;
  display:  inline-block;
  border:   1px solid lightgrey;
  padding:  0 1em;
  background-color: white;

  border-radius: 3px;
  line-height:   22px;
  cursor:        pointer;

  &__list {
    display:   none;
    position:  absolute;
    top:       22px;
    left:      -1px;
    margin:    0;
    padding:   0;
    min-width: 100%;

    border:           1px solid lightgrey;
    border-radius:    0 0 3px 3px;
    background-color: white;
    list-style-type:  none;
    color:            black;
    z-index:          10;

    &__action {
      padding:     0 1em;
      line-height: 22px;
      border-bottom: 1px solid #EFEFEF;

      &:hover {
        background-color: #EFEFEF;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.open {
    border-radius: 3px 3px 0 0;
    color:         grey;

    .data-grid__actions__list {
      display: block;
    }
  }
}
