.data-grid {
  table {
    table-layout:fixed;
    border-collapse: collapse;
    width: 100%;

    th, td {
      padding-left: 5px;
      padding-right: 1em;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    thead {
      background-color: grey;
      color:            white;
      text-align:       left;

      th {
        font-weight: normal;
      }

      span {
        cursor: pointer;

        .fa {
          color: lightgrey;
        }
      }
    }
  }

  &__row {
    &--clickable {
      cursor: pointer;
    }
  }

  &__selection {
    text-align: right;
  }

  &__actions {
    &__message {
      float: left;
    }
  }

  &__header__sorting-order {
    display: inline-block;
    width: 2em;

    vertical-align: top;
    font-weight: normal;
    font-size: 0.7em;
    color: lightgrey;
  }
}

@import 'components/paginator';
@import 'components/filter-bar';
