<span class="data-grid__actions__message">{{message}}</span>

{{#each actionList as |gridAction|}}
  <button class="data-grid__actions__action"
          {{action "callAction" gridAction.action}}>
    {{gridAction.label}}
  </button>
{{/each}}
