{{#if topPaginator}}
  {{component topPaginator paginator=paginator class="paginator--top"}}
{{/if}}

<table>
  {{#if showHeader}}
    <thead>
      <tr>
        {{#each propertiesList as |property|}}
          <th>{{property.label}}</th>
        {{/each}}
      </tr>
    </thead>
  {{/if}}

  <tbody>
    {{#each pageContent as |item|}}
    <tr>
        {{#each propertiesList as |property|}}
          {{data-col key=property.key item=item}}
        {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

{{#if bottomPaginator}}
  {{component bottomPaginator paginator=paginator class="paginator--bottom"}}
{{/if}}
