Actions
{{fa-icon "angle-down"}}

<ul class="data-grid__actions__list">
  {{#each actionList as |action|}}
    <li class="data-grid__actions__list__action" {{action "callAction" action.action}}>
      {{action.label}}
    </li>
  {{/each}}
</ul>
